.heroText {
  color: #B7B4BB;
  max-width: 422px;
  font-size: 22px;
}

.heading {
  span {
    background: linear-gradient(67deg, #2600FC 0%, #FF00EA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
