.colorfulButton {
  transition: all 0.2s ease-in-out;
  background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%);
  text-align: center;
  font-size: 17px;
  line-height: 21.6px;
  /* 127.059% */
}

.colorfulButton:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(1.3);
}

.colorfulButton:disabled {
  color: #B7B4BB;
  pointer-events: none;
  filter: grayscale(.5);
}